/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html{
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 62.5%;/*10 ÷ 16 × 100% = 62.5%*/
}
@media screen and (max-width: 270px) { /*当屏幕尺寸小于270px时，应用下面的CSS样式*/
  html {
    font-size:50%;
  }
}
/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin:0;padding:0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%; /* 为了继承父元素的字体大小以去除预设大小 */
    font-weight: normal;
}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display:block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio,canvas,video {
    display: inline-block;*display: inline;*zoom: 1;
}

input,select,textarea{
    font-size:100%;
}

/* 去掉各Table  cell 的边距并让其边重合 */
table{
    border-collapse:collapse;border-spacing:0;
}

/* IE bug fixed: th 不继承 text-align*/
th{
    text-align:inherit;
}

/* 去除默认边框 */
fieldset,img{
    border:0;
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe{
    display:block;
}

/* 去掉 firefox 下此元素的边框 */
abbr,acronym{
    border:0;font-variant:normal;
}

/* 一致的 del 样式 */
del {
    text-decoration:line-through;
}

/* 去掉列表前的标识, li 会继承 */
ol,ul {
    list-style:none;
}

q:before,q:after {
    content:'';
}

div {
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-focus-ring-color: rgba(0, 0, 0, 0);
}

div:focus {
    outline: none;
}

select { border : 0; background : none; -webkit-appearance: none;}

.displayNone { display:none !important; }

.displayBox { display:-webkit-box; }

/*除去search框默认样式*/
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}

a{
    text-decoration: none;
    color: #a3a8ac;
}
/*图片下3像素空隙*/
img{
    vertical-align: middle;
}

/*alert style*/
.alert_div{
    width: 100%;
    position: fixed;
    bottom: 160px;
    z-index: 10000000;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    opacity: 0;
}
.alert_div span{
    display: block;
    height: 35px;
    min-width: 120px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    background-color: #4f5051;
}
