body {
    background: #f3f2f2;
}
/*页头----个人中心、搜索、AD-BANNER*/

.header {
    background: -webkit-gradient(linear, left top, right bottom, from(#e86a48), to(#c5198a));
    background: -webkit-linear-gradient(0deg, #e86a48, #c5198a);
    height: 43px;
}
/*首页导航*/
section:first-child{
	/*padding: 3px;*/
}
.layout_menu {
    display: -webkit-box;
}
.layout_menu li {
    background: #fff;
    -webkit-box-flex: 1;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 1.4rem;
}
.layout_menu a {
    border-radius: 10px;
    padding: 8px;
}
.layout_menu .current a {
    background: #ea4e57;
    color: #fff;
}
/*页尾*/

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
/*内容区域*/

.container {
    width: 100%;
    overflow: hidden;
}
/*touchslier 生成容器*/

.tab_container {
    padding-bottom: 40px!important;
}
/*品牌街列表*/

.brand_street_list li {
    border: 1px solid #d0cfcf;
    margin: 6px 3px;
    box-sizing: border-box;
}
.brand_street_list li:first-child {
    margin-top: 3px;
}
.brand_street_list li:last-child {
    margin-bottom: 3px;
}
.brand_street_list img, .layout_dblist img {
    width: 100%;
}
/*商品列表-品牌列表&新品首发*/
.layout_dblist {
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
}
.layout_dblist li {
	position: relative;
    width: 50%;
    padding: 3px 3px 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
    -webkit-flex-flow: column;
    font-size: 1.2rem;
    float: left;
    /*fix old browser*/
}
.layout_dblist li:nth-child(odd) {
    padding-right: 1.5px;
}
.layout_dblist li:nth-child(even) {
    padding-left: 1.5px;
}
.layout_dblist .addFavor[data-flag="addFavor"],.layout_dblist .addFavor{
	width: 26px;
	height: 26px;
	position: absolute;
	right: 3px;
	top: 3px;
	padding: 10px;
	background: url(/images/xingyuandan.png) no-repeat center center;
	background-size: 26px 26px;
}
.layout_dblist .addFavor[data-flag="rmFavor"]{
	background-image: url(/images/xingyuandan-dianjihou.png)
}
.layout_dblist .pic {
    display: block;
    border: 1px solid #dadada;
    border-bottom-color: #eeeeee;
}
.layout_dblist .title {
    background: #fff;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
    color: #626d72;
    min-height: 36px;
    line-height: 18px;
    padding: 8px;
}
.layout_dblist .memo {
	height: 3em;
    color: #b1bbbf;
    padding: 8px;
    background: #fff;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
}
.layout_dblist .price, .layout_dblist .info {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    border: 1px solid #dadada;
    border-width: 0 1px;
    background: #fff;
    padding: 3px 8px;
}
.layout_dblist .price {
    padding-top: 8px;
}
.layout_dblist .info {
    padding-bottom: 8px;
    height: 23px;
    line-height: 23px;
    border-bottom: 1px solid #dadada;
}
.price .discount {
    display: inline;
    color: #f2744e;
}
.price .original {
    display: inline;
    color: #aeb8bd;
    text-decoration: line-through;
}
.info .sales {
    display: inline;
    color: #aeb8bd;
}
.info .cart {
    display: inline;
    float: right;
}
.info .cart a {
    width: 45px;
    height: 23px;
    display: block;
    background: url(../images/btn_cart.png) no-repeat center center;
    background-size: 100%;
}
/*积分兑换&热销榜列表*/

.layout_list {}
/*品牌街列表*/

.layout_list li {
    border: 1px solid #d0cfcf;
    margin: 3px;
    background: #fff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: flex;
    display: -webkit-flex;
}
.layout_list .pic {
    width: 30%;
    margin: 5px;
    border: 1px solid #d0cfcf;
}
.layout_list .pic img {
    width: 100%;
}
.layout_list .pic, .layout_list .info {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}
.layout_list .info {
    padding: 5px 10px;
    font-size: 1.2rem;
    line-height: 1.2rem;
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    width: 60%;
}
.layout_list .info .title {
    font-size: 1.4rem;
}
.layout_list .meta {
    -webkit-align-self: baseline;
    align-self: baseline;
    line-height: 1.5rem;
}
.layout_list .layout_bot {
    -webkit-align-self: flex-end;
    align-self: flex-end;
    width: 100%;
    line-height: 23px;
}
.layout_list .info p {
    width: 100%;
}
/*列表公共样式*/

.cur_price {
    color: #49bcf1;
    font-size: 1.2rem;
}
.og_price {
    color: #b1bbbf;
}
.decorate_line {
    border-bottom: 1px dashed #dadada;
    position: relative;
}
.decorate_line:after, .decorate_line:before {
    content: "";
    width: 4px;
    height: 8px;
    background: url(../images/icon_semicircle.png) no-repeat center center;
    background-size: 100%;
    position: absolute;
    right: 0;
    bottom: -4px;
}
.decorate_line:before {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    right: auto;
    left: 0;
}
/*首页-banner*/
.banner{
    margin: 3px 3px 6px;
    position: relative;
    overflow: hidden;
    width: 100%;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;   
    background: #fff; 
}
.banner .title{
	border-bottom: 1px solid #d9d9d9;
	height: 24px;
	line-height: 24px;
	color: #737b81;
	font-size: 1.4rem;
	text-indent: 0.8rem;
}
.banner .banner_hd {
    width: 100%;
    height: 11px;
    position: absolute;
    z-index: 1;
    bottom: 5px;
    text-align: center;
    padding: 3px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 0;
    vertical-align: top;
}
.banner .banner_hd li {
    display: inline-block;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #8C8C8C;
    margin: 0 5px;
    vertical-align: top;
    overflow: hidden;
}
.banner .banner_hd .on {
    background: #FE6C9C;
}
.banner .banner_bd{
	background:#fff;
}
.banner img {
    width: 100%;
    max-height: 256px;
}
/*首页-分类*/
.layout_hd{
	display: flex;
	display: -webkit-flex;
}
.layout_hd li{
    -webkit-flex-grow: 1;
    flex-grow: 1;
    text-align: center;
    padding-top: 10px;	
}
.sort{
    border: 1px solid #d0cfcf;
    background: #fff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    min-height: 600px;
}
.sort img{
	width: 40px;
}