body {
    color: #828f95;
    /*color: #4f5051;*/
    /*font: 1.4rem Arial,Verdana,"宋体";*/
    font-size: 1.4rem;
    font-weight: bold;
}

.content{
    width: 100%;
    margin-bottom: 60px;
    background-color: #fff;
    overflow: hidden;
    /*border-bottom: 1px solid #d5d5d5;*/
}

.mask{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.3;
    z-index: 99;
}

.chooseCategory{
    position: fixed;
    width: 100%;
    margin-bottom: 54px;
    bottom: 0;
    background-color: #fff;
    z-index: 100;
}

.categoryInfo{
    height: 80px;
    border-bottom: 1px solid #d5d5d5;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
 }

.categoryImg{
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 10px;
}

.infoRight .price{
    color: #f35a46;
}

.infoRight p{
    height: 30px;
    line-height: 30px;
}

.chooseCategory .category{
    margin: 0 10px;
}

.category p{
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #d5d5d5;
}

.categoryList{
    width: 100%;
    margin: 10px 0;
}

.categoryList span{
    display: inline-block;
    width: 45%;
    height: 30px;
    margin: 2%;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #d5d5d5;
}

.categoryList .selected{
    border-color: #ff9732;
    color: #ff9732;
}

.closeBtn{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    background: url('../images/product_detail_close.png') no-repeat 0 0;
    background-size: cover;
}

.goodsCount{
    height: 60px;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    margin: 10px;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
}

.addSubtract{
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    margin-left: 10px;
    border: 1px solid #d5d5d5;
}

.chooseLab{
    display: block;
    /*width: 120px;*/
    line-height: 50px;
    text-align: left;
}

.minus, .plus{
    width: 42px;
    height: 36px;
}

.minus{
    border-right: 1px solid #d5d5d5;
    background: url('../images/product_detail_minus.png') no-repeat center center;
    background-size: 20px 20px;
}

.chooseCount{
    display: block;
    width: 70px;
    height: 36px;
    line-height: 36px;
    text-align: center;
}

.plus{
    border-left: 1px solid #d5d5d5;
    background: url('../images/product_detail_plus.png') no-repeat center center;
    background-size: 20px 20px;
}

.imgWindow{
    position: relative;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #d5d5d5;
}

.goodsInfo{
    border-bottom: 1px solid #d5d5d5;
}

.introduceArea{
    margin: 10px;
}

.introduceArea .introduce{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    color: #4f5051;
    /*text-overflow: ellipsis;*/
    /*overflow: hidden;*/
    /*white-space: nowrap;*/
}

.dashImg{
    width: 100%;
    min-height: 2px;
    display: block;
}

.integralBuy{
    margin: 10px;
}

.buyPrice, .buyInfo{
    width: 100%;
    height: 26px;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
}

span.commitment{
    display: block;
    width: 70px;
    height: 16px;
    background: url('../images/product_commitment.png') no-repeat 0 0;
    background-size: cover;
}

.discountPrice{
    display: block;
    font-size: 1.8rem;
    color: #f35a46;
}

.originalPrice{
    display: block;
    text-decoration: line-through;
    color: #828f95;
}

.integral{
    display: block;
    color: #fff;
    background-color: #f35a46;
}

.courierFee, .monthSale{
    display: block;
}

.chooseCategoryArea{
    height: 50px;
    padding: 0 10px;
    border-bottom: 1px solid #d5d5d5;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
}

.categoryLabel{
    display: block;
    width: 130px;
    color: #828f95;
    font-size: 1.6rem;
}

.categoryBtn{
    display: block;
    width: 10px;
    height: 17px;
    background: url('../images/product_choose_category.png') no-repeat 0 0;
    background-size: cover;
}

.buyBtn{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    background-color: #f8f8f8;
    border-top: 1px solid #d5d5d5;
    z-index: 200;
}

.buyBtn .left{
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    width: 100px;
}

.buyBtn .add_favor, .buyBtn .go_cart{
    display: block;
    width: 26px;
    height: 34px;
    padding: 10px 20px;
}

.buyBtn .add_favor{
    background: url('../images/product_detail_favor.png') no-repeat center center;
    background-size: 26px 34px;
}

.buyBtn .go_cart{
    position: relative;
    width: 38px;
    background: url('../images/product_detail_cart.png') no-repeat center center;
    background-size: 38px 34px;
}

.buyBtn .sku_total_count{
    position: absolute;
    top: 3px;
    right: 14px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #ea4e57;
    color: #fff;
    font-size: 1rem;
    line-height: 16px;
    text-align: center;
}

.add_cart{
    display: block;
    height: 34px;
    width: 110px;
    margin: 10px 20px;
    line-height: 34px;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    background-color: #ea4e57;
    font-size: 1.6rem;
}

.productDownload{
    display: block;
    width: 325px;
    height: 60px;
    margin: 10px 20px;
    background: url('../images/product_detail_download.png') no-repeat 0 0;
    background-size: cover;
}

.detailLabel, .evaluationLabel{
    height: 40px;
    line-height: 40px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #d5d5d5;
    font-size: 1.6rem;
    color: #828f95;
}

.detailLabel{
    height: 50px;
    background-color: #fff;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
}

.detailLabel .detail_tab, .detailLabel .params_tab{
    display: block;
    -webkit-box-flex: 1;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.detailLabel .detail_tab{
    border-right: 1px solid #d5d5d5;
}

.detailLabel .on{
    color: #f35a46;
}

.evaluationIcon, .detailIcon{
    display: inline-block;
    margin-left: 10px;
    width: 18px;
    height: 16px;
    position: relative;
    top: 3px;
}

.evaluationIcon{
    background: url("../images/product_evaluation_icon.png") no-repeat 0 0;
    background-size: cover;
}

.detailIcon{
    background: url("../images/product_detail_icon.png") no-repeat 0 0;
    background-size: cover;
}

.userInfo{
    height: 36px;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    border-bottom: 1px solid #d5d5d5;
}

.userInfo .userName{
    display: block;
    margin-left: 10px;
}

.userInfo .time{
    display: block;
    margin-right: 20px;
}

.evaluationContent{
    border-bottom: 1px solid #d5d5d5;
}

.evaluationContent .comment{
    height: 120px;
    margin: 10px;
}

.detailContent{
    width: 100%;
}

iframe img{
    display: block;
    width: 100%;
    height: 400px;
}

.params_content .params_title{
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    margin: 20px 0 10px;
}

.params_title .left,.params_title .right{
    display: block;
    -webkit-box-flex: 1;
    border-bottom: 1px solid #d5d5d5;
}

.params_title .title{
    margin: 10px;
    /*color: #4f5051;*/
}

.params_table{
    width: 98%;
    margin: 1%;
}

.params_table td{
    height: 40px;
    border: 1px solid #d5d5d5;
    padding-left: 5px;
}

/*touch slide*/
.focus.index-banner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.focus .hd {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    text-align: center;
}

.focus .hd ul {
    padding: 4px 5px;
    border-radius: 8px;
    font-size: 0;
}

.focus .hd ul li {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url('../images/slide_banner.png') no-repeat 0 0;
    background-size: cover;
    margin: 0 8px;
    vertical-align: top;
    overflow: hidden;
    text-align: center;
    line-height: 10px;
    text-indent: -9999px;
}

.focus .hd ul .on {
    background: url('../images/slide_banner_on.png') no-repeat 0 0;
    background-size: cover;
}

.focus .bd {
    position: relative;
    z-index: 0
}

.focus .bd li img {
    display: block;
    width: 100%;
    height: 280px;
    border: 0 none
}

.focus .bd li a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}