</body>
<script type="text/javascript" src="/js/zepto.min.js"></script>
<script type="text/javascript" src="/js/TouchSlide.1.1.js"></script>
<script src="/js/util.js"></script>
<% for(var i=0; i<jsSrc.length; i++) {%>
    <script src=/js/<%= jsSrc[i] %>.js></script>
<% } %>
</html>