<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" name="viewport">
	<title><%= title %></title>
    <link rel="stylesheet" href="/css/base.css">
	<% for(var i=0; i<cssSrc.length; i++) {%>
	   <link rel="stylesheet" href=/css/<%= cssSrc[i] %>.css>
	<% } %> 
</head>
<body id="touchSlide">
