<!-- 页尾 -->
<footer id="footer" class="footer">
	<ul class="layout_menu ">
		<li><a class="buy" href="javascript:;">购物</a></li>
		<li><a class="search" href="javascript:;">搜索</a></li>
		<li><a class="cart" href="javascript:;">购物车</a></li>
		<li><a class="usercenter" href="javascript:;">个人中心</a></li>
	</ul>
</footer>