<!-- 主页导航 -->
<menu class="menu">
	<ul class="layout_menu tab_li">
		<li><a href="/home/hot_sales/0">热销榜</a></li>
		<li><a href="/home/gift_exchange/1">积分兑换</a></li>
		<li><a href="/home/new_products/2">新品首发</a></li>
		<li><a href="/home/brand_street/3">品牌街</a></li>
	</ul>
</menu>