.arrow p {
    -webkit-animation: start 1.5s infinite ease-in-out;
    animation: start 1.5s infinite ease-in-out
}

.musicStart {
    -webkit-animation: rotateMusic .8s linear infinite both
}

.vbtn {
    -webkit-animation: pulse 1.5s linear infinite both
}

.music .note {
    -webkit-animation: fadeIR 1s 0s ease-out both
}

.m-page2 .logo, .m-page3 .logo, .m-page4 .logo {
    opacity: 0;
    -webkit-transform: scaleX(0);
    -webkit-transition: all .5s ease-out
}

.m-page2 .title, .m-page3 .title, .m-page4 .title {
    opacity: 0;
    -webkit-transform: translateX(-500px);
    -webkit-transition: all .5s ease-out
}

.m-page2 .light_2, .m-page3 .light_2, .m-page4 .light_2 {
    opacity: 0
}

.m-page2 .zjws, .m-page3 .zjws, .m-page4 .zjws {
    opacity: 0;
    -webkit-transform: translateY(400px);
    -webkit-transition: all 1s ease-out
}

.m-page2.show .logo, .m-page3.show .logo, .m-page4.show .logo {
    -webkit-animation: bounceIT 1s 1s ease both
}

.m-page2.show .title, .m-page3.show .title, .m-page4.show .title {
    opacity: 1;
    -webkit-transform: translateX(0);
    -webkit-transition-delay: 1s
}

.m-page2.show .light_2, .m-page3.show .light_2, .m-page4.show .light_2 {
    opacity: 1;
    -webkit-transition: all .5s ease-out;
    -webkit-transition-delay: .5s
}

.m-page2.show .zjws, .m-page3.show .zjws, .m-page4.show .zjws {
    opacity: 1;
    -webkit-transform: translateY(0);
    -webkit-transition-delay: .5s
}

.m-page5 .logo {
    opacity: 0;
    -webkit-transform: scaleX(0);
    -webkit-transition: all .5s ease-out
}

.m-page5 .title {
    opacity: 0;
    -webkit-transform: scale(0);
    -webkit-transition: all .5s ease-out
}

.m-page5 .date {
    opacity: 0;
    -webkit-transform: translateY(400px);
    -webkit-transition: all 1s ease-out
}

.m-page5 .zjws {
    opacity: 0;
    -webkit-transform: translateY(400px);
    -webkit-transition: all 1s ease-out
}

.m-page5.show .logo {
    opacity: 1;
    -webkit-transform: scaleX(1);
    -webkit-transition-delay: .5s
}

.m-page5.show .title {
    opacity: 1;
    -webkit-transform: scale(1);
    -webkit-transition-delay: 1s
}

.m-page5.show .date {
    opacity: 1;
    -webkit-transform: translateY(0);
    -webkit-transition-delay: 1.5s
}

.m-page5.show .zjws {
    opacity: 1;
    -webkit-transform: translateY(0);
    -webkit-transition-delay: 1.8s
}

.m-page6 .logo {
    -webkit-transform: translateX(400px);
    -webkit-transition: all 1s ease-out
}

.m-page6 .title {
    -webkit-transform: translateX(400px);
    -webkit-transition: all 1s ease-out
}

.m-page6 .date {
    -webkit-transform: translateX(-400px);
    -webkit-transition: all 1s ease-out
}

.m-page6 .zjws {
    -webkit-transform: translateX(-400px);
    -webkit-transition: all 1s ease-out
}

.m-page6.show .logo {
    -webkit-transform: translateX(0);
    -webkit-transition-delay: 0s
}

.m-page6.show .title {
    -webkit-transform: translateX(0);
    -webkit-transition-delay: .5s
}

.m-page6.show .date {
    -webkit-transform: translateX(0);
    -webkit-transition-delay: .8s
}

.m-page6.show .zjws {
    -webkit-transform: translateX(0);
    -webkit-transition-delay: 1s
}

.m-page7 .logo {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -webkit-transition: all 1s ease-out
}

.m-page7 .title {
    opacity: 0;
    -webkit-transform: translateY(400px);
    -webkit-transition: all 1s ease-out
}

.m-page7 .date {
    opacity: 0;
    -webkit-transform: translateY(400px);
    -webkit-transition: all 1s ease-out
}

.m-page7 .zjws {
    opacity: 0;
    -webkit-transform: translateY(400px);
    -webkit-transition: all 1s ease-out
}

.m-page7.show .logo {
    opacity: 1;
    -webkit-transform: translateY(0);
    -webkit-transition-delay: 1s
}

.m-page7.show .title {
    opacity: 1;
    -webkit-transform: translateY(0);
    -webkit-transition-delay: 1.5s
}

.m-page7.show .date {
    opacity: 1;
    -webkit-transform: translateY(0);
    -webkit-transition-delay: 1.5s
}

.m-page7.show .zjws {
    opacity: 1;
    -webkit-transform: translateY(0);
    -webkit-transition-delay: 1.8s
}

.m-page8 .logo {
    -webkit-transform: perspective(400px) rotateX(90deg)
}

.m-page8 .title {
    -webkit-transform: perspective(400px) rotateX(90deg)
}

.m-page8 .date {
    opacity: 0;
    -webkit-transform: translateY(-100px);
    -webkit-transition: all .5s ease-out
}

.m-page8 .zjws {
    opacity: 0;
    -webkit-transform: translateY(200px);
    -webkit-transition: all .5s ease-out
}

.m-page8.show .logo {
    -webkit-animation: flipIX 1s .2s ease both
}

.m-page8.show .title {
    -webkit-animation: flipIX 1s .4s ease both
}

.m-page8.show .date {
    opacity: 1;
    -webkit-transform: translateY(0);
    -webkit-transition-delay: .5s
}

.m-page8.show .zjws {
    opacity: 1;
    -webkit-transform: translateY(0);
    -webkit-transition-delay: .5s
}

.m-page9 .m-img02 {
    opacity: 0;
    -webkit-transform: translateY(100px)
}

.m-page9 .logo {
    opacity: 0;
    -webkit-transform: perspective(400px) rotateX(90deg)
}

.m-page9 .title {
    opacity: 0;
    -webkit-transform: perspective(400px) rotateX(90deg)
}

.m-page9 .date {
    opacity: 0;
    -webkit-transform: translateY(400px);
    -webkit-transition: all 1s ease-out
}

.m-page9 .zjws {
    opacity: 0;
    -webkit-transform: translateY(200px);
    -webkit-transition: all .5s ease-out
}

.m-page9.show .m-img02 {
    -webkit-animation: fadeIB 1s .2s ease-out both
}

.m-page9.show .logo {
    -webkit-animation: fadeIB 1s .4s ease both
}

.m-page9.show .title {
    -webkit-animation: fadeIB 1s .6s ease both
}

.m-page9.show .date {
    opacity: 1;
    -webkit-transform: translateY(0);
    -webkit-transition-delay: 1.5s
}

.m-page9.show .zjws {
    opacity: 1;
    -webkit-transform: translateY(0);
    -webkit-transition-delay: 1s
}

.m-page10 .m-img02 {
    opacity: 0;
    -webkit-transform: translateY(100px)
}

.m-page10 .logo {
    opacity: 0
}

.m-page10 .title {
    opacity: 0;
    -webkit-transform: perspective(400px) rotateX(90deg)
}

.m-page10 .date {
    opacity: 0;
    -webkit-transform: translateY(400px);
    -webkit-transition: all 1s ease-out
}

.m-page10 .zjws {
    opacity: 0;
    -webkit-transform: translateY(200px);
    -webkit-transition: all .5s ease-out
}

.m-page10.show .m-img02 {
    -webkit-animation: flipIX 1s .2s ease-out both
}

.m-page10.show .logo {
    -webkit-animation: bounceIR 1s 1.4s ease both
}

.m-page10.show .title {
    -webkit-animation: fadeIB 1s 1.6s ease both
}

.m-page10.show .date {
    opacity: 1;
    -webkit-transform: translateY(0);
    -webkit-transition-delay: 1.5s
}

.m-page10.show .zjws {
    opacity: 1;
    -webkit-transform: translateY(0);
    -webkit-transition-delay: 2s
}

.m-page11 .logo {
    -webkit-transform: perspective(400px) rotateX(90deg)
}

.m-page11 .title {
    -webkit-transform: perspective(400px) rotateX(90deg)
}

.m-page11 .date {
    opacity: 0;
    -webkit-transform: translateY(-100px);
    -webkit-transition: all .5s ease-out
}

.m-page11 .zjws {
    opacity: 0;
    -webkit-transform: translateY(200px);
    -webkit-transition: all .5s ease-out
}

.m-page11.show .logo {
    -webkit-animation: flipIX 1s .2s ease both
}

.m-page11.show .title {
    -webkit-animation: flipIX 1s .4s ease both
}

.m-page11.show .date {
    opacity: 1;
    -webkit-transform: translateY(0);
    -webkit-transition-delay: .5s
}

.m-page11.show .zjws {
    opacity: 1;
    -webkit-transform: translateY(0);
    -webkit-transition-delay: .5s
}

@-webkit-keyframes typing {
    0% {
        background-color: #fff;
        box-shadow: 24px 0 0 0 rgba(255, 255, 255, 0.2), 48px 0 0 0 rgba(255, 255, 255, 0.2)
    }
    25% {
        background-color: rgba(255, 255, 255, 0.4);
        box-shadow: 24px 0 0 0 #fff, 48px 0 0 0 rgba(255, 255, 255, 0.2)
    }
    75% {
        background-color: rgba(255, 255, 255, 0.4);
        box-shadow: 24px 0 0 0 rgba(255, 255, 255, 0.2), 48px 0 0 0 #fff
    }
}

@-webkit-keyframes rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

.datouwang1 {
    margin: 0 auto;
    width: 50px;
    height: 60px;
    text-align: center;
    font-size: 10px
}

.datouwang1 > div {
    background-color: #fff;
    opacity: .8;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out
}

.datouwang1 .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s
}

.datouwang1 .rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

.datouwang1 .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s
}

.datouwang1 .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(.4)
    }
    20% {
        -webkit-transform: scaleY(1)
    }
}

@-webkit-keyframes fadeIB {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
}

@-webkit-keyframes flipIX {
    0% {
        -webkit-transform: perspective(400px) rotateX(90deg);
        opacity: 0
    }
    40% {
        -webkit-transform: perspective(400px) rotateX(-10deg)
    }
    70% {
        -webkit-transform: perspective(400px) rotateX(10deg)
    }
    100% {
        -webkit-transform: perspective(400px) rotateX(0deg);
        opacity: 1
    }
}

@-webkit-keyframes rollI {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-320px) rotate(-1turn)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0) rotate(1turn)
    }
}

@-webkit-keyframes rotateMusic {
    0% {
        -webkit-transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes start {
    0%, 30% {
        opacity: 0;
        -webkit-transform: translate(0, 10px)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(0, 0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, -8px)
    }
}

@-webkit-keyframes bounceIL {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(30px)
    }
    80% {
        -webkit-transform: translateX(-10px)
    }
    100% {
        -webkit-transform: 0
    }
}

@-webkit-keyframes bounceIT {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-200px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
}

@-webkit-keyframes bounceIR {
    0% {
        opacity: 0;
        -webkit-transform: translateX(2000px)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(-30px)
    }
    80% {
        opacity: 1;
        -webkit-transform: translateX(10px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0)
    }
}

@-webkit-keyframes pules {
    0% {
        -webkit-transform: scale(1)
    }
    50% {
        -webkit-transform: scale(1.1)
    }
    100% {
        -webkit-transform: scale(1)
    }
}

@-webkit-keyframes moveLR {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0) translateY(0) scale(1)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(-300px) translateY(10px) scale(1.3)
    }
    80% {
        opacity: .5;
        -webkit-transform: translateX(-300px) translateY(10px) scale(1.3)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(-300px) translateY(10px) scale(1.3)
    }
}

@-webkit-keyframes fadeIR {
    0% {
        opacity: 0;
        -webkit-transform: translateX(30px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(1.5);
        opacity: 0
    }
}