<footer id="footer" class="footer">
    <div class="footer-bottom">
        <ul class="row">
            <li class="col-xs-12 col-md-12 copy-right">
                <p>Copyrights © 2018 SwapEx Allrights reserved</p>
            </li>
        </ul>
    </div>
</footer>

{{> stats }}