<%- partial('common/header',{title:title,cssSrc:["cart"]}) %>
<%- partial('common/layout_header',{}) %>
<!-- 页面内容 -->
<div class="container cart_container">
	<div class="cart_header">
		<div class="title">美妆优选承诺:满百包邮</div>
        <div class="del_item">删除商品</div>
	</div>
	<ul class="layout_column_list">
	</ul>
</div>
<div class="footer">
	<div class="cart_footer">
		<div class="checkbox_wrap"><i class="checkbox checkall checked"></i></div>
		<div class="price">
			<div class="total">合计：279.00</div>
			<div class="gift">花费积分：20积分</div>
		</div>	
		<div class="wrap"><a class="ordering" href="/order/confirm">立即下单</a></div>	
	</div>
</div>
<%- partial('common/footer',{jsSrc:["artTemplate","partial_template","cart","fixData"]}) %>