<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta content="target-densitydpi=high-dpi,width=device-width, user-scalable=no, initial-scale=0.66667, maximum-scale=0.6, minimum-scale=0.7" name="viewport">
    <!--<meta name="viewport" content="target-densitydpi=high-dpi,width=480px,initial-scale=.66667,minimum-scale=0.6,maximum-scale=0.7,user-scalable=0"/>-->
    <meta content="telephone=no" name="format-detection">
    <title>美妆优选</title>
    <link rel="stylesheet" type="text/css" href="/mzyx/css/base.css" />
</head>
<body  style="font-size: 24px">
    <h2>您好，欢迎来到美妆优选，微信商城正在升级，敬请期待！</h2>

    <h3>微信用户信息</h3>
    <% if (typeof userInfo !== 'undefined') { %>
        <ul>
            <li><%= userInfo.nickname%></li>
            <li><img style="width: 300px; height: 300px" src=<%= userInfo.headimgurl%>/></li>
        </ul>
    <% } %>

    <a href="http://m.meizhuangyouxuan.com/order/confirm">微信支付</a>
</body>
</html>