<!DOCTYPE html>
<html lang="en">
<head>
    <title>404 – Page not found | IconTool</title>

    {{> head }}

    <!-- build:css /404/css/index.css -->
    <link rel="stylesheet" href="../shared/css/libs/bootstrap.min.css"/>
    <link rel="stylesheet" href="../shared/css/libs/animate.min.css"/>
    <link rel="stylesheet" href="../shared/css/reset.css"/>
    <link rel="stylesheet" href="../shared/css/base.css"/>
    <link rel="stylesheet" href="../shared/css/header.css"/>
    <link rel="stylesheet" href="../shared/css/footer.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <!-- endbuild -->
</head>

{{> header }}

<div class="wrap not-found-wrap">
    <div class="container">
        <p>Oops... that page doesn't exist!</p>
        <a class="btn ts-all" href="/">BACK TO ICONTOOL</a>
    </div>
</div>

{{> footer }}

</body>

<!-- build:js /404/js/index.js -->
<script src="../shared/js/libs/jquery-1.11.2.min.js"></script>
<script src="../shared/js/libs/bootstrap.min.js"></script>

<script src="../shared/js/util.js"></script>

<script src="../shared/js/header.js"></script>
<script src="../shared/js/footer.js"></script>
<!-- endbuild -->
</html>
