<!DOCTYPE html>
<html lang="en">
<head>
    <title>SwapEx - 最专业最好用的数字货币汇率工具</title>

    {{> head }}

    <!-- build:css /index/css/index.css -->
    <link rel="stylesheet" href="shared/css/libs/bootstrap.min.css"/>
    <link rel="stylesheet" href="shared/css/libs/animate.min.css"/>
    <link rel="stylesheet" href="shared/css/device.css"/>
    <link rel="stylesheet" href="shared/css/reset.css"/>
    <link rel="stylesheet" href="shared/css/base.css"/>
    <link rel="stylesheet" href="shared/css/header.css"/>
    <link rel="stylesheet" href="shared/css/footer.css"/>
    <link rel="stylesheet" href="index/css/index.css"/>
    <!-- endbuild -->
</head>

{{> header }}

<div class="wrap">
    <section id="section-slogan" class="section section-slogan">
        <div class="center-wrap">
            <div class="bg-wrap">
                <img class="bg" src="/index/images/phone.png" />
                <img class="bg phone" src="/index/images/phone_mask.png" />
            </div>
            <div class="slogan">
                <div class="detail">
                    <img class="icon-logo" src="/shared/images/svg/logo.svg" />
                    <p class="tit-lg">最专业最好用的<br/>数字货币汇率工具</p>
                </div>
            </div>
            <div class="download-wrap">
                <img class="app-ios ios" src="/index/images/svg/icon_apple_white.svg" />
                <!--<img class="app-android android" src="/index/images/svg/icon_android_white.svg" />-->
            </div>
            {{> footer }}
        </div>
    </section>
</div>

</body>


<!-- build:js /index/js/index.js -->
<script src="shared/js/libs/jquery-1.11.2.min.js"></script>
<script src="shared/js/libs/bootstrap.min.js"></script>
<script src="shared/js/libs/jquery.face-cursor.min.js"></script>

<script src="shared/js/util.js"></script>
<script src="shared/js/PubSub.js"></script>
<script src="shared/js/device.js"></script>
<script src="shared/js/header.js"></script>
<script src="shared/js/footer.js"></script>

<script src="index/js/index.js"></script>
<!-- endbuild -->
</html>
