<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta content="target-densitydpi=high-dpi,width=device-width, user-scalable=no, initial-scale=0.66667, maximum-scale=0.6, minimum-scale=0.7" name="viewport">
    <meta content="telephone=no" name="format-detection">
    <title>兰芝</title>
    <script type="text/javascript" src="js/zepto.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</head>
<body>
    <h2>兰芝</h2>
</body>
</html>