* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    /*10 ÷ 16 × 100% = 62.5%*/
}
body {
    color: #163e83;
    font-size: 1.4rem;
    font-weight: bold;
}
li{
	list-style: none;
}
#avatar{
	position: absolute;
	left: -1000px;
}
#loading{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #3a6296;
	z-index: 99999;
	display: flex;
	display: -webkit-flex;
	-webkit-align-items:center;
	align-items:center;	
	color: #fff;
}
#loading em{
	position: absolute;
	left: 30px;
	top: 12px;
	font-style: normal;
	font-size: 1rem;
}
/*动画选择器*/
/*缩放出场 摇摆*/
.rock{
	-webkit-animation: grow 0.7s 0.4s 1 ease, music-move 1s 1.3s infinite alternate ease-in-out;
}
/*开始页*/
#begin {
	background: #fff;
    text-align: center;
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
}
#begin .title{
	height: 62px;	
	margin: 0 auto;
	background: url(../images/begintitle.png) no-repeat center center;
	background-size: 250px 62px;
	margin-top: 70px;
	position: relative;
	-webkit-animation: grow 0.7s 0.4s 1 ease, music-move 1s 1.3s infinite alternate ease-in-out;
}
#begin .title p{
	width: 100%;
	position: absolute;
	top: -18px;
	height: 18px;
	background: url(../images/hehe.png) no-repeat center center;
	background-size: auto 10px;
	-webkit-animation: grow 0.7s 0.4s 1 ease, music-move 1s 1.3s infinite alternate ease-in-out;
}
.round{
	width: 190px;
	height: 190px;
	margin: 30px auto;
	border-radius: 50%;
	background: #dcdedd;
	position: relative;
}
.round .star{
	position: absolute;
	background: url(../images/star.png) no-repeat center center;
	background-size: cover;
	-webkit-animation: rock 1.5s linear infinite,blink 1s linear infinite both;
}
.round .star:nth-child(1){
	width: 12px;
	height: 14px;
	left: 30px;
	top: 40px;
}
.round .star:nth-child(2){
	width: 8px;
	height: 10px;
	left: 75px;
	top: 12px;
}
.round .star:nth-child(3){
	width: 16px;
	height: 18px;
	left: 120px;
	top: 16px;
}
.round .star:nth-child(4){
	width: 16px;
	height: 18px;
	left: 100px;
	top: 160px;
}
.round .star:nth-child(5){
	width: 14px;
	height: 16px;
	left: 150px;
	top: 140px;
}
/*小人样式*/
.person{
	width: 66px;
	height: 66px;
	border-radius: 50%;
	position: absolute;
	
}
.boy{
	background: #365e91;
	left: 24px;
	top: 60px;	
}
.girl{
	background: #ec7696;
	left: 104px;
	top: 60px;	
}
.eye{
	position: absolute;
	height: 8px;
	width: 36px;
	top: 25px;
	left: 15px;
}
.eye:before{
	content: "";
	width: 8px;
	height: 8px;
	position: absolute;
	left: 0;
	top: 0;
	background: #fff;
	border-radius: 50%;
	-webkit-animation:grow 0.7s 2.2s 1 ease, eye-blink 4s 4.4s infinite linear;
}
.eye:after{
	content: "";
	width: 8px;
	height: 8px;
	position: absolute;
	right: 0;
	top: 0;
	background: #fff;
	border-radius: 50%;
	-webkit-animation:grow 0.7s 2.2s 1 ease, eye-blink 4s 4.4s infinite linear;
}
.cheek{
	position: absolute;
	height: 12px;
	width: 60px;
	top: 35px;
	left: 10px;
}
.cheek:before{
	content: "";
	width: 16px;
	height: 12px;
	position: absolute;
	left: 0;
	top: 0;
	background: #fa3079;
	border-radius: 50%;
	-webkit-animation:grow 0.7s 2.2s 1 ease;
}
.cheek:after{
	content: "";
	width: 16px;
	height: 12px;
	position: absolute;
	right: 0;
	top: 0;
	background: #fa3079;
	border-radius: 50%;
	-webkit-animation:grow 0.7s 2.2s 1 ease;
}
.tie{
	position: absolute;
	bottom: -16px;
	left: 19px;
	background: url(../images/bluetie.png) no-repeat center center;
	background-size: 25px 15px;
	width: 25px;
	height: 15px;
}
.girl .tie{
	bottom: auto;
	top: -16px;
	background-image: url(../images/redtie.png);
}
.animation{
	position: absolute;	
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 999;
}
.animation .container{
	height: 100px;
	max-width: 80%;
	min-width: 240px;	
	position: relative;
	margin: 0 auto;
}
.animation .girl{
	left: 0;
	top: 0;
}
.animation .boy{
	left: auto;
	right:0;
	top: 0;
}
.select1 .boy .eye{
	left: 10px;
	-webkit-transition: all 1s ease 0.3s;
}
.select2 .girl{
	-webkit-transform:translate3d(30px,0,0);
	-webkit-transition: all 1s ease 0.3s;
}
.select2 .boy{
	-webkit-transform:translate3d(-30px,0,0);
	-webkit-transition: all 1s ease 0.3s;
}
.boy .tie{
	-webkit-transition: all 1s ease 0.3s;
}
.boy .flextie{
	-webkit-transform:translate3d(0,1000px,0);
}
.boy .longtie{
	-webkit-transform:translate3d(0,0,0);
	background-image: url(../images/bluetie2.png);
	width: 13px;
	height: 30px;
	background-size: 13px 30px;
	left: 26px;
	bottom: -30px;
}
.select3 .boy .glasses{
	-webkit-transition: all 0.3s ease 0s;
	background: url(../images/glasses.png) no-repeat center center;
	background-size: 41px 15px;
	width: 41px;
	height: 15px;
	left: 12px;
}
.select3 .boy .glasses:before,
.select3 .boy .glasses:after{
	opacity: 0;
}
.select3 .girl .jiemao{
	background: url(../images/jiemao.png) no-repeat center center;
	background-size: 45px 7px;
	width: 45px;
	height: 7px;
	position: absolute;
	left: 10px;
	top: 15px;
}
.heart{
	-webkit-animation:note-anim 3.5s 0s infinite ease-in-out;
	background: url(../images/heart.png) no-repeat center center;
	background-size: 33px 24px;
	width: 33px;
	height:24px; 
	position: absolute;
	right: -10px;
	top: -30px;
}
.heart:before{
	content: "";
	-webkit-animation:note-anim 10s 0s infinite ease;
	background: url(../images/heart.png) no-repeat center center;
	background-size: 23px 20px;
	width: 23px;
	height:20px; 
	position: absolute;
	right: 10px;
	top: -30px;	
}
.heart:after{
	content: "";
	-webkit-animation:note-anim 6s 0s infinite ease;
	background: url(../images/heart.png) no-repeat center center;
	background-size: 20px 17px;
	width: 20px;
	height:17px; 
	position: absolute;
	right: -25px;
	top: -20px;	
}
.select5 .girl .eye{
	left: 20px;
	-webkit-transition: all 1s ease 0.3s;
}
.select5 .boy .line{
	background: url(../images/line3.png) no-repeat 0 0;
	background-size: 12px 19px;
	width: 12px;
	height: 19px;
	position: absolute;
	right: 10px;
	top: 10px;
}
.select6 .girl .smile{
	width: 66px;
	height: 66px;	
	left: 0;
	top: 0;
	background: url(../images/smile.png) no-repeat center -10px;
	background-size: 66px 66px;
	-webkit-transition: all 1s ease 0.3s;
}
.select6 .cheek{
	left: 2px;
}
.select7 .heart{
	right:50px;
}
.select7 .girl .eye{
	-webkit-transition: all 0s ease 0.3s;
}
.select8 .container{
	-webkit-transition: all 2s ease 0.3s;
	width: 132px;
	min-width:132px; 
}
#begin .enter {
    background: #ec7696;
    border-radius: 25px;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    width: 195px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.4rem;
    letter-spacing: 0.4rem;
}
#task_list {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}
#task_list li {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #fff;
    -webkit-transform:translate3d(640px,0,0);
    -webkit-transition: all 0.8s ease-in-out 0s;
}
#task_list li:nth-child(1){
	-webkit-transform:translate3d(0,0,0);
}
#task_list li.out{
	/*-webkit-transform:translate3d(-500px,0,0);*/
}
#task_list li.in{
	-webkit-transform:translate3d(0,0,0);
}
.diamond_wrap{
	width: 240px;
	margin:0 auto;
	display:-webkit-flex;
	display:flex;	
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;	
}
.diamond_wrap i{
	float: left;
	font-style: normal;
	text-align: center;
	line-height: 80px;
	display: block;
	width: 80px;
	height: 80px;
	background: url(../images/diamond01.gif) no-repeat 0 0;
	background-size: cover;
}
.diamond_wrap i:nth-child(2n){
	background-image: url(../images/diamond02.gif);
}
.diamond_wrap i.active{
	background-image: url(../images/diamond03.gif);
}
.select_wrap{
	min-width: 240px;
	max-width: 70%;
	margin: 0 auto;
}
.select_wrap p{
	padding: 10px 0 15px 30px;
	background: url(../images/diamond01.gif) no-repeat 0 6px;
	background-size: 2rem 2rem;
}
.select_wrap p.active{
	background-image: url(../images/heart.png);
	background-size: 1.8rem 1.8rem;
}
#task_list .title{
	padding: 30px;
	font-size: 1.8rem;
	color: #000;
}
#task_list .title em{
	font-style: normal;
	font-family: 'Arial Rounded MT bold','Arial Black';
	font-size: 2.4rem;
	font-weight: 800;
	color: #f57d99;
}

#result_list{
	position: absolute;
	z-index: 99999;
	height: 100%;
	width: 100%;
	display: none;
	background: url(../images/result_bg.png) no-repeat center 350px #fff;
	background-size: 218px 120px;	
}
#result_list li{
	display: none;
}
#result_list li .title{
	color: #fe7c9e;
}
#result_list li:nth-child(1) .title, 
#result_list li:nth-child(2) .title, 
#result_list li:nth-child(3) .title{
	color: #3a6296;
} 
#result_list li p{
	min-width: 240px;
	max-width: 70%;
	margin: 0 auto;	
}
#result_list i{
	font-style: normal;
	color: #fe7c9d;
}
#result_list .result,
#result_list .title{
	text-align: center;
	font-size: 2.6rem;
	color: #000;
	padding-bottom: 30px;
}
#result_list .result{
	padding-top:100px; 
}
#result_list .title{
	color: #3e6495;
	position: absolute;
	max-width: 100%;
	width: 100%;
	left: 0;
	top: 10px;	
	line-height: 8rem;
}
#result_list .stamp{

	background: url(../images/stamp.png) no-repeat 0 0;
	background-size: 131px 149px;
	height: 149px;
	width: 131px;
	z-index: 9;
	text-indent: -9999px;
}
#result_list .detail{
	color: #353535;
	letter-spacing: 0.1rem;
	padding-bottom: 1rem;
}

/*动画*/
/*动画*/
@-webkit-keyframes blink{
	0%{opacity: .7;}
	50%{opacity: 1;}
	100%{opacity: .5;}
}
@-webkit-keyframes rotate{
	0%{-webkit-transform: rotate(0deg);}
	100%{-webkit-transform: rotate(360deg);}
}
@-webkit-keyframes rock{
	0%{-webkit-transform: rotate(0deg);}
	25%{-webkit-transform: rotate(10deg);}
	50%{-webkit-transform: rotate(0deg);}
	100%{-webkit-transform: rotate(-10deg);}
}
@-webkit-keyframes jump{
	0%{-webkit-transform: translate3d(0,0,0);}
	20%{-webkit-transform: translate3d(0,1px,0);}
	50%{-webkit-transform: translate3d(0,0,0);}
	70%{-webkit-transform: translate3d(0,-1px,0);}
	100%{-webkit-transform: translate3d(0,0,0);}
}
@-webkit-keyframes zoom{
	0%{-webkit-transform:scale(1.1,1.1); opacity: .3}
	40%{-webkit-transform:scale(1,1); opacity: .5}
	60%{-webkit-transform:scale(1.1,1.1); opacity: 0}
	100%{-webkit-transform:scale(1.2,1.2); opacity: .1;}
}
@-webkit-keyframes zoom2{
	0%{-webkit-transform:scale(1,1); opacity: 1;}
	50%{-webkit-transform:scale(1,1); opacity: .3;}
	100%{-webkit-transform:scale(1.2,1.2); opacity: 0;}
}
@-webkit-keyframes zoomout{
	0%{-webkit-transform:scale(.1,.1);}
	40%{-webkit-transform:scale(1.2,1.2);}
	60%{-webkit-transform:scale(.8,.8);}
	80%{-webkit-transform:scale(1.1,1.1);}
	100%{-webkit-transform:scale(1,1);}
}
@-webkit-keyframes music-move /* Safari and Chrome */
{
0% { 
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
33% {  
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
66% {  
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}
100% {  
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
}
@-webkit-keyframes grow /* Safari and Chrome */
{
0% {  
  -webkit-transform: scale(0);
  transform: scale(0);
}
60% {  
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}
80% {  
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}
100% {
  -webkit-transform: scale(1);
  transform: scale(1);
}
}
@-webkit-keyframes note-anim /* Safari and Chrome */
{
0% {
  opacity: 0;
  -webkit-transform: translate(0px,15px);
  transform: translate(0px,15px);
}
30% {
  -webkit-transform:rotate(12deg) translate(-15px,0px);
  transform:rotate(12deg) translate(-15px,0px);
}
45% {
  opacity: 1;
}  
60% {
  -webkit-transform:rotate(-12deg) translate(15px,-30px);
  transform:rotate(-12deg) translate(15px,-30px);
}
100% {
  opacity: 0;
  -webkit-transform:rotate(0deg) translate(0px,-45px);
  transform:rotate(0deg) translate(0px,-45px);
}
}
@-webkit-keyframes eye-blink /* Safari and Chrome */
{
0% {
  -webkit-transform: scaleY(1) translateY(0px);
  transform: scaleY(1) translateY(0px);
}
45% {
  -webkit-transform: scaleY(1) translateY(0px);
  transform: scaleY(1) translateY(0px);
}
50% {
  -webkit-transform: scaleY(0.1);
  transform: scaleY(0.1);
}
55% {
  -webkit-transform: scaleY(1) translateY(0px);
  transform: scaleY(1) translateY(0px);
}
100% {
  -webkit-transform: scaleY(1) translateY(0px);
  transform: scaleY(1) translateY(0px);
}
}


/*loading*/
/*coffee cup*/
.coffee_cup{
    width: 20px;
    height: 24px;
    border: 1px rgba(255,255,255,1) solid;
    border-radius: 0px 0px 5px 5px;
    position: relative;
    margin: 36px auto;
    left: -30px;
}
.coffee_cup:after, .coffee_cup:before{
    position: absolute;
    content: "";
}
.coffee_cup:after{
    width: 5px;
    height: 12px;
    border: 1px #fff solid;
    border-left: none;
    border-radius: 0px 20px 20px 0px;
    left: 20px;
}
.coffee_cup:before{
    width: 1px;
    height: 6px;
    background-color: rgba(255,255,255,1);
    top: -10px;
    left: 4px;
    box-shadow: 5px 0px 0px 0px rgba(255,255,255,1),
                5px -5px 0px 0px rgba(255,255,255,1),
                10px 0px 0px 0px rgba(255,255,255,1);
    -webkit-animation: steam 1s linear infinite alternate;
       -moz-animation: steam 1s linear infinite alternate;
            animation: steam 1s linear infinite alternate;
}

@-webkit-keyframes steam{
    0%{height: 0px;}
    100%{height: 6px;}            
}
@-moz-keyframes steam{
    0%{height: 0px}
    100%{height: 6px;}            
}
@keyframes steam{
    0%{height: 0px}
    100%{height: 6px;}            
}
